* {
    margin: 0;
    padding: 0;
    background-color: #bfbfbf;
} 

.grid-container {
    display: grid;
    grid-template-rows: auto auto;
}

#Header {
    background-color: #00c1d4;
    text-align:center;
    font-size: 50px;
}

#mainBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 5px;
}

#userEmail {
    margin-top: 2%;
    height:50px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

#userPassword {
    margin-top: 1%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

#loginButton {
    margin-top: 5%;
    background-color: #ffcd00;
    border: none;
    padding: 20px 44px;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    justify-content: center;
}

#contAsGuest {
    font-size: 20px;
    border: none;
}

#textBox {
    margin-top: 10%;
    font-size: 25px;
}